<p style="color: green"><%= notice %></p>



<% if user_signed_in? %>
  <%= render @article %>
  <%= render 'comments/comments' %>
  <%= render 'comments/create' %>
  <% if current_user == @article.user %>
    <%= button_to "Destroy this article", @article, method: :delete , class:"btn btn-light"%>
  <% end %>
  <div>  
    <%= link_to "Edit this article", edit_article_path(@article) %> |
    <%= link_to "Back to articles", articles_path %>
  </div>

<% else %>
  <%= render @article %>
  <%= render 'comments/comments' %>
<% end %>

